extends layout

block content
    header
        h1
    p.p(ng-show='!showMain') Data is successfully saved


    form(name='formLogin', ng-show='showMain')
        .modal-header {{heading}}
        .modal-body(style='text-align: center;', ng-if='showLogin')
                .labelForName
                    label.label_in_modal Account ID
                .inputForName
                    input#accountID(type='text', ng-change='changeAccount(accountID)', ng-model='accountID', required='required')
                .labelForName
                    label.label_in_modal Username
                .inputForName
                    input#username(type='text', ng-change='changeUsername(username)', ng-model='username', required='required')
                .nameOfElement
                    .labelForName
                        label.label_in_modal Password
                    .inputForName
                        input#password(type='password', ng-change='changePassword(password)', ng-model='password', required='required')
                .nameOfElement
                    .labelForName
                        label.label_in_modal Phone
                    .inputForName
                        input#phone(type='text', ng-change='changePhone(phone)', name="phone", ng-model='phone',ng-pattern='/^[+]{0,1}[0-9]{0,1}[-\s\.]{0,1}[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/',  required='required')
        .modal-footer(ng-if='showDetails')
                button.btn.btn-success(ng-click='ok(formLogin)', ng-disabled="isDisabled") LOGIN
                .alert(ng-show='isError') {{errorMessage}}




//

