extends layout

block content
    header
        h1
    p.p
        button.btn.btn-success(ng-click = 'checkAccount()') Login


  //div
  //
  //    div.page-header Login
  //    form
  //        div
  //            p
  //              label Account key
  //            p
  //              label Login
  //            p
  //              label Password
  //            p
  //              label Phone
  //
  //        div
  //            p
  //              input(name = 'accountKey', ng-model='accountKey')
  //            p
  //              input(name = 'login',ng-model='login')
  //            p
  //              input(type='password', name = 'password', ng-model='password')
  //            p
  //              input(name = 'phone', ng-model='phone')
  //            p
  //              button(ng-click = 'checkAccount()') OK





