body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: -webkit-linear-gradient(#152735 0px, #285273 200px);
    background: -moz-linear-gradient(#152735 0px, #285273 200px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    height:100%
}
html{
    display:block;
}

a {
  color: #00B7FF;
}

div{

    /*margin:10px;*/
}

p{
    height:25px;
}

button{
    margin:20px;
    float:left;
    /*float:right;*/
}

.modal-header
{
    padding:10px 0;
    color: #a6a6a6;
    font-size:23px;
    line-height: 26px;
    margin:0;
    font-family: 'Oswald',sans-serif;
    width:100%;
    background: -webkit-linear-gradient(#fdfefe 0%, #ececea 100%);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #b3b2b1;
}

.nameOfElement{
    width: 100%;
}

.labelForName, .inputForName{
    text-align: left;
    color: #b2b2b2;

}

.label_in_modal{
    font-weight: normal;
}

.btn, .btn-default{
    height: 34px;
}

.modal-footer{
    margin-top: 0;
}

header h1{
    background: url('images/logo.png') no-repeat;
    display: block;
    float: none;
    width: 359px;
    height: 106px;
    margin: 0 auto;
}

header{
    width: 100%;
    overflow: hidden;
    background: none;
    box-shadow: none;
    border: none;
}

.modal{
    margin: 0 auto;
    float:none;
}

.modal-dialog{
    width: 500px;
    margin: 0px auto;
    overflow:hidden;
}

input{
    width:100%;
    border: 1px solid #b3b2b1;
    /*box-shadow: inset 0 1px 1px;*/
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: 3px;
    height: 30px;
    color:black !important;
    padding:2px;
}

.p{
    padding: 10px;
    color: white;
}

.alert{
    color: #b94a48;
    float:left;
}

form{
    width: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
}
