body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div{
    float:left;
    margin:10px;
}

p{
    height:25px;
}

button{
    float:right;
}
