<form name="formLogin">
<div class="modal-header">{{heading}}</div>
<div class="modal-body" style="text-align: center;" ng-if="showLogin">

        <div class="labelForName">
            <label class="label_in_modal">Account ID</label>
        </div>

        <div class="inputForName">
            <input  id="accountID" type="text" ng-change="changeAccount(accountID)" ng-model="accountID" required>
        </div>

        <div class="labelForName">
            <label class="label_in_modal">Username</label>
        </div>
        <div class="inputForName">
            <input  id="username" type="text" ng-change="changeUsername(username)" ng-model="username" required>
        </div>

    <div class="nameOfElement">
        <div class="labelForName">
            <label class="label_in_modal">Password</label>
        </div>
        <div class="inputForName">
            <input  id="password" type="password" ng-change="changePassword(password)" ng-model="password" required>
        </div>
    </div>
    <div class="nameOfElement">
        <div class="labelForName">
            <label class="label_in_modal">Phone</label>
        </div>
        <div class="inputForName">
            <input id="phone" type="text" ng-change="changePhone(phone)" ng-model="phone" required>
        </div>
    </div>
</div>
<div class="modal-footer" ng-if="showDetails">
    <button class="btn btn-success" ng-click="ok(formLogin)">LOGIN</button>
</div>
</form>
